<% layout('layouts/boilerplate') -%>
<body>
    <script>
        let MAP_KEY='<%=process.env.MAP_KEY%>';
    </script>
    <div class="row">
        <i><h4 class="mt-2 col-8 offset-3"><%=data.title %> </h4></i>
        <img src="<%= data.image.url %>" class="detail-img col-8 offset-3" alt="listing_image">
        <div class="row p-detail-div">
            <i class="col-6 offset-3 fs-6">Owned by: <%=data.owner.username%></i><br>
            <b> <p class="col-6 offset-3"><%=data.description %></p></b>
            <p class="col-8 offset-3 p-detail">&#8377;<%= data.price.toLocaleString()%></p>
            <p class="col-8 offset-3 p-detail"><%=data.location %></p>
            <p class="col-8 offset-3 p-detail"><%=data.country %></p></div>
    <br><br><br>
        <% if(user){ %>
        <a href="/listing/<%= data._id %>/edit" class="btn btn-dark col-1 offset-3">Edit</a>

    <form action="/listing/<%= data._id %>?_method=DELETE" method="post" class="col-1 " id="detail-form">
        <button class="btn btn-danger">Delete</button>
    </form>
    <% } %>
    </div>
    <form action="/listing/<%= data._id %>/review" method="post" class="col-8 offset-3 needs-validation" novalidate >
        <hr>
     <h5>Review the listing:</h5><br>
     <!-- <input type="range" name="review[rating]" min="1" max="5" class="form-range" ><br>  -->
     <fieldset class="starability-growRotate mb-3">
        <legend class="fs-6">Rating:</legend>
        <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
        <label for="first-rate1" title="Terrible">1 star</label>
        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
        <label for="first-rate2" title="Not good">2 stars</label>
        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
        <label for="first-rate3" title="Average">3 stars</label>
        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
        <label for="first-rate4" title="Very good">4 stars</label>
        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
        <label for="first-rate5" title="Amazing">5 stars</label>
      </fieldset>
      <label >Comment:</label>
     <textarea name="review[comment]" rows="5" cols="30" class="form-control" required></textarea>
     <div class="invalid-feedback">
        Please write comment!
      </div>
      <br>
     <button class="btn btn-dark btn-sm">Submit</button><br>
     <% if (!user) { %>
      <i>
        <p>You need to login first!</p>
      </i>
     <% } %>
     <hr>
    </form>
    <br>
    <h5 class="offset-3">Reviews:</h5>
    <div class="row row-cols-lg-2 offset-2 row-cols-md-2">
        <% if (data.review.length === 0) { %>
            <p class="col-4 offset-1">No review available at current moment!</p>
           <% } %>
    <% for( review of data.review ) { %>
        <div class="card col-4 mb-4 ml-2 review-card" style="width: 40vw; margin-left: 10vw">
            <div class="card-body">
              <i><b> <p>@<%=review.created_by.username%></p></b></i>
              <b><p class="card-text" ><%=review.comment%></p></b>
              <p class="card-text">
                <% for( let i=1; i<=review.rating ;i++) { %>
                <span>⭐</span>
                <% } %>
                <%=review.rating%> stars</p>
                <form action="/listing/<%= data._id %>/review/<%= review._id %>?_method=DELETE" method="post">
                    <button class="btn btn-dark btn-sm mb-2">DELETE</button>
                </form>
            </div> 
    </div>
    <% } %>
</div>
<hr>
<h3 style="margin-left:20vw">Where you'll be</h3>
<div class="mb-4" id="map" style="height: 350px; width: 60vw; margin-left: 20vw;"></div>
<script src="/js/map.js"></script>
</body>
