<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        form {
            display: inline;
        }
    </style>
    <title>Listing Detail</title>
</head>
<body>
    <h2>Listing Detail:</h2>
    <ul>
       <li><%=data.title %></li>
       <li><%= data.description%></li>
       <li>&#8377;<%= data.price.toLocaleString()%></li>
       <li><%=data.location %></li>
       <li><%= data.country%></li>
    </ul>
    <br>
    <form action="/listing/<%= data._id %>/edit" method="get">
        <button>Update</button>
    </form>

    <form action="/listing/<%= data._id %>?_method=DELETE" method="post">
        <button>Delete</button>
    </form>
</body>
</html>