<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Listing</title>
</head>
<body>
    <h2>Update Listing:</h2>
    <form action="/listing/<%=data._id%>?_method=PATCH" method="post">
        <input type="text" placeholder="<%= data.title %>" name="title"><br><br>
        <textarea name="description" id="" cols="30" rows="6" placeholder="<%= data.description %>"></textarea><br><br>
        <input type="text" name="price" placeholder="<%= data.price %>"><br><br>
        <input type="text" name="location" placeholder="<%= data.location %>"><br><br>
        <input type="text" name="country" placeholder="<%= data.country %>"><br><br>
        <button>ADD!</button>
     </form>
</body>
</html>